main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* hero seccion */

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  margin-top: 20px;
}

.hero-text {
  text-align: center;
  background-color: #48f;
  padding: 20px;
  border-radius: 10px;
}



/* categorias */

.categorias {
  padding: 40px 0px 20px 0px;
  text-align: center;
}

.grid-categorias {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.categoria {
  background-color: #eef;
  text-decoration: none;
  color: #000;
  padding: 20px 30px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoria a{
  text-decoration: none;
  color: #000;
  padding: 20px;
}

.categoria:hover {
  background-color: #48f;
  color: white;
}

.categoria a:hover{
  color: #fff;
}

