* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition-duration: 0.5s;
}

.NavBar {
    background-color: #48f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
}

nav {
    transition-duration: 0s;
}

.NavBar__Menu--Close,
.NavBar__Menu--Open {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Menu__Item {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.Menu__Item__Father {
    display: flex;
    gap: 5rem;
    margin-left: 3rem;
    margin-right: 5rem;
}

.LogoUser {
    width: 30px;
    filter: invert(1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000a;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.Hamburger {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

@media (min-width: 1000px) {
    .NavBar__Menu--Close {
        justify-content: space-around;
        align-items: center;
    }

    .Menu__Item:hover {
        padding: 10px 15px;
        letter-spacing: 3px;
        background-color: #fff;
        color: #48f;
        border-radius: 100px;
    }
}

@media (max-width: 1000px) {
    .Hamburger {
        display: block;
    }

    .NavBar__Menu--Close,
    .NavBar__Menu--Open {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        background-color: #48f;
        padding-top: 80px;
        gap: 20px;
        transition: left 1s ease-in-out;
        z-index: 1000;
    }

    .NavBar__Menu--Open {
        left: 0;
       text-align: center;
    }

    .Menu__Item {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .Menu__Item__Father {
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        align-items: center;
    }

    .Menu__Item:hover {
        letter-spacing: 2px;
    }
}
