.formulario-pago {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.total-pago {
  font-size: 18px;
}

input, select {
  padding: 8px;
  font-size: 16px;
}

.btn-pagar {
  padding: 10px;
  font-size: 18px;
  background-color: #0c4da2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-pagar:hover {
  background-color: #083c82;
}
