* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

.profile {
    display: flex;
    margin: 2rem auto;
    flex-flow: row wrap;
    border: 1px solid #48f;
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;
}

.profile__logo {
    width: 200px;
    height: 200px;
    padding: 1rem;
}

.profile__content {
    flex: 1 1 50%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.info__name, .info__email {
    font-style: italic;
}

strong {
    text-transform: uppercase;
    font-style: normal;
    color: #48f;
}


.content__logout {
    width: fit-content;
    padding: 0.4rem;
    background: none;
    border: 1px solid #48f;
    border-radius: 0.4rem;
    color: #48f;
    &:hover {
        background-color: #48f;
        color: #fff;
    }
}