* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

.logo-perfil {
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-perfil img {
    width: 200px;
    height: 200px;
}